@media (max-width:1200px) {
    .operation_section {
        padding: 10px;
    }
}

@media (max-width:999px) {
    body {
        grid-template-areas: "header header" "main main";

    }

    aside,
    .title_header,
    header .search_box_header,
    header .full_name_user span:first-child {
        display: none;
    }

    header .user_action {
        gap: 1.5rem;
    }

    header {
        padding: 8px;
    }

    aside {
        width: 68%;
        z-index: 999;
        background-color: var(--color-white);
    }

    .container_main {
        grid-template-columns: repeat(1, 1fr);
    }

    .message_list_user {
        right: 55px;
    }

}

@media (max-width:420px) {
    .charts_card {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .graph_data {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }
}

@media (min-width:1000px) {

    .burger_menu,
    main .search_box_header {
        display: none;
    }
}