* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors Light */
:root {
    --color-white: #fff;
    --color-black: #1a2029;
    --color-gray: #14161d;
    --color-light-gray: #f8f8f8;
    --color-dark-gray: #31353f;
    --color-light-purple: #8c77ed;
    --color-blue: #3a6ff8;
    --color-green: #1ecb4f;
    --color-light-red: #f46d22;
}

/* colors Dark */
:root[data-theme="dark"] {
    --color-white: #fff;
}

body {
    font-family: Raleway;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "aside header" "aside main";
    grid-template-rows: 100px 100vh;
    background-color: var(--color-light-gray);

}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Black.woff') format('woff');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

header {
    grid-area: header;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

aside {
    grid-area: aside;
    position: fixed;
    width: 20%;
    height: 100%;
    border-right: 2px solid rgba(0, 0, 0, 0.12);
    padding: 32px;
}

main {
    grid-area: main;
}

aside .logo {
    display: flex;
    align-items: center;
    gap: 7px;
}

aside .logo span{
    font-size: 21px;
    font-weight: 700;
}